* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Microsoft JhengHei", PingFang, STHeiti,
    sans-serif, serif;
}
.section-group {
  padding-top: 100px;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* rwd超過容器會換行 */
  text-align: center;
}
.main-header .container {
  justify-content: space-between;
  /* 垂直置中 */
  padding: 20px 0;
}
.section-bg1 {
  background-color: #3d57a59c;
}
.section-bg2 {
  background-color: #3d57a59c;
}
.top a {
  background-color: #687cb8;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #fa0;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  color: #fa0;
  font-weight: 800;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
  transition: 0.5s;
  z-index: 1;
}
.top:hover a {
  transform: scale(1.5);
}
/* 導覽列 */
.main-header {
  background: #3f5494;
  position: relative;
}

.main-header i {
  color: #fa0;
}
.main-header .main-nav {
  display: flex;
}
.main-header .main-nav a {
  text-decoration: none;
  color: #fff;
  padding: 5px 30px;
  position: relative;
  transition: 0.3s;
}
.main-header .main-nav a:hover {
  transform: translateY(-5px);
  color: #fa0;
}
.main-header .main-nav a:after {
  /* nav的底線 */
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -5px;
  height: 0;
  border-bottom: 1px solid #fff;
  transition: 0.3s;
}
.main-header .main-nav a:hover:after {
  left: 0;
  right: 0;
  border-bottom: 1px solid #fa0;
}
/* 漢堡 */
#menu_control {
  display: none;
  position: absolute;
  /* 讓它消失 */
  /* z-index: 1; */
  /* 出現 */
}
header {
  position: relative;
}
.menu_btn {
  width: 40px;
  height: 40px;
  background-color: #fa0;
  border-radius: 50%;
  display: none;
  position: absolute;
  top: 25px;
  right: 10px;
}
.menu_btn span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block;
  overflow: hidden;
  /* 選單文字隱藏 */
}
.menu_btn::before {
  content: "";
  position: absolute;
  height: 2px;
  left: 5px;
  width: 30px;
  background-color: #3f5494;
  /* 垂直置中 */
  top: 0;
  bottom: 0;
  margin: auto;
  /* 垂直置中 */
  box-shadow: 0 8px 0 #3f5494, 0 -8px 0 #3f5494;
  /* 製作另外兩根 */
}
#menu_control:checked ~ header nav {
  right: 0;
  /* 打勾出現 */
}
/* 滿板圖文區塊 */
.banner {
  width: 100%;
  height: 100%;
  max-height: 500px;
  background-color: #ccc;
  background: linear-gradient(
        115deg,
        rgba(10, 10, 10, 0.6) 50%,
        transparent 50%
      )
      center center / 100% 100%,
    url(./images/banner.jpg) center center / cover;
}
.banner-txt {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* 垂直排列 */
  justify-content: center;
  align-items: flex-start;
  /* 對齊交錯軸線最前端 */
  color: #fa0;
}
.banner-txt h1 {
  font-size: 80px;
  font-weight: 900;
  padding-top: 0.3em;
  margin-top: 0.3em;
}
.banner-txt h1 small {
  display: block;
  /* 一整行 */
  font-size: 53px;
  font-weight: 700;
}
.banner-txt h2 {
  font-size: 50px;
  font-weight: 700;
}
.banner-txt p {
  font-size: 24px;
  font-weight: 100;
}
/* 文章區塊 */
.main-title {
  /* margin: 0 0 50px 0; */
}
.main-title .container h1 {
  width: 100%;
  font-size: 40px;
  padding-left: 15px;
  color: #3f5494;
  margin-bottom: 0.5em;
}

.main-title .container .txt {
  color: #000;
  position: relative;
  padding: 1em;
}
.main-title .container .txt p {
  margin-bottom: 1em;
  font-size: 24px;
  line-height: 1.5em;
}
.main-title .container .txt::before,
.main-title .container .txt::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
}
.main-title .container .txt::before {
  left: 10px;
  top: 0;
  border-top: 5px solid #fa0;
  border-left: 5px solid #fa0;
}
.main-title .container .txt::after {
  right: 10px;
  bottom: 0;
  border-right: 5px solid #fa0;
  border-bottom: 5px solid #fa0;
}
/* ---破格式設計--- */
.wrap-pick {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 75px 0;
  /* 把高度補回來 */
}
.wrap-pick .item {
  width: 370px;
  /* (1200/3)-(15*2) */
  margin: 0 15px;
  text-align: center;
  border: 10px solid #fff;
  background-color: #687cb8;
  border-radius: 20px;
  /* 左右,上下,模糊 */
}
.wrap-pick .item h2 {
  color: #fff;
  font-size: 30px;
}
.wrap-pick .item p {
  color: #203163c2;
}
.wrap-pick .item .txt {
  padding: 20px 20px 2em;
}
.wrap-pick .item .icon {
  width: 150px;
  height: 150px;
  background-color: #fff;
  margin: -75px auto 0;
  font-size: 120px;
  line-height: 150px;
  /* 垂直置中 */
  border-radius: 50%;
  position: relative;
}
.wrap-pick .item .icon img {
  width: 150px;
  height: 150px;
}
.wrap-pick .item .icon:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
  left: -10px;
  top: -10px;
  /* -10px要扣掉邊框線 */
  border-radius: 50%;
  transform: rotate(-45deg);
}
/* ---animation--- */
.wrap-pick .item:hover {
  border: 10px solid #fa0;
}
.wrap-pick .item:hover .icon:before {
  border-top: 10px solid #fa0;
  border-right: 10px solid #fa0;
}
.wrap-pick .item:hover img {
  animation: touch 0.2s linear infinite alternate;
  cursor: pointer;
}
@keyframes touch {
  0% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
/* ---互動圖文卡片--- */
.wrap-people {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  /* rwd超過容器會換行 */
  padding-top: 20px;
}

.wrap-people .item {
  width: 358px;
  margin: 40px auto;
  text-align: center;
  line-height: 1.5;
  background-color: white;
  border: 2px solid #eee;
  transform: translateY(0px);
  transition: 0.5s;
}
.wrap-people .item figure {
  height: 170px;
  overflow: hidden;
}
.wrap-people .item img {
  width: 100%;
  vertical-align: middle;
  /* 圖片在垂直對齊時下面會出現一個空間 */
}
.wrap-people .item h2 {
  border-bottom: 2px solid#eee;
  padding-bottom: 0.3em;
  margin-bottom: 0.4em;
}
.wrap-people .item .txt {
  padding: 20px;
  position: relative;
  transition: 0.25s;
}
/* 三角形用邊框製作 */
.wrap-people .item .txt:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 50px solid transparent;
  border-left: 178px solid white;
  border-right: 178px solid white;
  transform: translateY(-100%);
}
.wrap-people .item:hover {
  transform: translateY(-50px);
  border: 2px solid #feb85d;
}
.wrap-people .item:hover .txt {
  background-image: linear-gradient(0deg, #fb8076, #feb85d);
  color: white;
  border-bottom-color: white;
}
.wrap-people .item:hover .txt:before {
  border-left: 178px solid #feb85d;
  border-right: 178px solid #feb85d;
}
/* ---footer--- */

.conpyright {
  width: 100%;
  text-align: center;
  /* margin: 150px 0; */
  padding: 10px 0;
  background-color: #3f5494;
  color: #fa0;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .wrap-people {
    display: flex;
    flex-direction: column;
  }
  .wrap-pick {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .wrap-pick .item {
    margin: 50px auto;
  }
  .menu_btn {
    display: block;
  }
  .main-header .main-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 85px;
    right: 0;
    background-color: #3f549489;
    padding: 20px 0;
  }
}
